body {background: #222; color: #aaa; padding:80px; font-family: "Helvetica Neue", Helvetica, Verdana; font-size: 18px; }
h1 { font-size: 24px; }

#vizContainer svg { background: #333; border:2px solid #666; border-radius: 5px; margin: 20px; display:block; padding:20px; }
line, path { stroke: #99f; stroke-width: 3px; fill:none;}

.xLabel, .yLabel { fill: #888; }
.edge { stroke: #888; }
.dot { fill:#99f; }
.line { stroke: #99f; stroke-width: 3px; fill:none;}

.line1 {stroke: #9f9;}
.line2 {stroke: #f99;}
.line3 {stroke: #9ff;}
.line4 {stroke: #ff9;}
.line5 {stroke: #fff;}
